---
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="Datenschutzerklärung" id="intro">
  <Fragment slot="lead">
    <div> 
        <br>
        <p><strong><u>Datenschutzerklärung</u></strong></p>
        <p><strong><u>Verantwortlicher</u></strong></p>
        <p>Hirnschmaus-Science Podcast</p>
        <p>Nils Wenninghoff &amp; Maurice Oettel</p>
        <p>Kontakt(at)hirnschmaus.de</p>
        <p><strong><u>Allgemeines</u></strong></p>
        <p>Grundsätzlich verarbeiten wir Ihre personenbezogenen Daten nur, wenn
        dies durch gesetzliche Vorschriften gestattet ist.</p>
        <p>Nachfolgend werden Ihnen nun umfangreiche Informationen zum Zweck, zu
        Art/Umfang, zur Rechtsgrundlage und zur Speicherdauer der Verarbeitung
        Ihrer Daten bereitstellen. Sollten Sie trotzdem noch Fragen haben,
        kontaktieren Sie uns gerne unter der oben angegebenen Adresse.</p>
        <p><strong><u>Hosting/Bereitstellung der Webseite</u></strong></p>
        <p><strong>Zweck:</strong> Bei dem Zugriff auf unsere Webseite werden
        Zugriffsdaten in einer Protokolldatei gespeichert, damit wir die
        Webseite ordnungsgemäß bereitstellen können. Auch wird damit die
        Informationssicherheit gewährleistet (z.B. Identifikation von
        DoS-Angriffen).</p>
        <p><strong>Art/Umfang:</strong></p>
        <p>Jeder Datensatz besteht aus:</p>
        <ul>
        <li><p>Der Seite, von der aus die Datei angefordert wurde (sog.
        Referrer-URL)</p></li>
        <li><p>Dem Namen der Datei</p></li>
        <li><p>Dem Datum und Uhrzeit der Anforderung (sog. "time
        stamp")</p></li>
        <li><p>Dem Zugriffsstatus (Datei übertragen, Datei nicht gefunden
        etc.)</p></li>
        <li><p>Einer Beschreibung des Typs des verwendeten
        Internetbetrachtungsprogramms (z.B. Mozilla Firefox, Google Chrome oder
        Microsoft Internetexplorer, Apple Safari, Opera etc.)</p></li>
        <li><p>Einer Beschreibung des verwendeten Betriebssystems</p></li>
        </ul>
        <p><strong>Speicherdauer:</strong></p>
        <p>Die IP-Adressen speichern wir über einen Zeitraum von maximal einer
        Woche in Server-Logfiles.</p>
        <p><strong>Rechtsgrundlage:</strong></p>
        <p>Art. 6 Abs. 1 lit. f DSGVO: Berechtigtes Interesse unsererseits,
        einen ordnungsgemäßen Betrieb der Website und Bereitstellung
        grundlegender Funktionalitäten zu gewährleisten, sowie die
        Informationssicherheit zu erhalten.</p>
        <p><strong>Datenübermittlung an Dritte oder Drittländer</strong></p>
        <p>Die Webseite wird bei github gehostet. Die genannten Daten werden
        somit an github übermittelt.</p>
        <p><strong><u>Kontakt zu uns</u></strong></p>
        <p><strong>Zweck:</strong></p>
        <p>Kontaktaufnahme mit uns.</p>
        <p><strong>Art/Umfang:</strong></p>
        <p>Falls Sie Kontakt mit uns aufnehmen, wird Ihre E-Mail-Adresse sowie
        die gemachten Angaben gespeichert. Eine Weitergabe an Dritte erfolgt
        selbstverständlich nicht.</p>
        <p><strong>Rechtsgrundlage:</strong></p>
        <p>Art. 6 Abs. 1 lit. f) DSGVO: Berechtigtes Interesse unsererseits,
        eine einfache Kontaktmöglichkeit bereitzustellen. Der Kontakt wird dabei
        nicht von uns, sondern von den Webseitenbesuchern initiiert.</p>
        <p><strong>Speicherdauer:</strong></p>
        <p>Ihre E-Mail-Adresse und die gemachten Angaben speichern wir nur
        solange, bis Ihr jeweiliges Anliegen erledigt ist. Sobald keine weitere
        Kommunikation mit Ihnen erforderlich ist oder von ihnen gewünscht wird,
        werden Ihre Daten unverzüglich gelöscht.</p>
        <p><strong>Datenübermittlung an Dritte oder Drittländer:</strong></p>
        <p>Wir übermitteln Ihre Daten, die im Zuge der Nutzung des
        Kontaktformulars erhoben werden, weder an Dritte noch an
        Drittstaaten.</p>
        <p><strong><u>Social-Media Auftritt: X</u></strong></p>
        <p><strong>Zweck:</strong></p>
        <p>Um unsere Tätigkeiten der Öffentlichkeit zugänglich zu machen,
        greifen wir auf die Plattform X der X Corp, One Cumberland Place, Fenian
        Street, Dublin 2, D02 AX07 Ireland zurück.</p>
        <p><strong>Art/Umfang:</strong></p>
        <p>Falls Sie unsere X-Seite besuchen, tun Sie dies in eigener
        Verantwortung (besonders bei der Nutzung von interaktiven Funktionen wie
        z.B. Likes, Kommentaren, Bewertungen).</p>
        <p>Mithilfe von Cookies, verarbeitet X vor allem folgende Daten:</p>
        <ul>
        <li><p>Informationen zu Ihrem Account</p></li>
        <li><p>Ihre IP-Adress</p></li>
        <li><p>Informationen zum genutzten Endgerät</p></li>
        </ul>
        <p>X nutzt diese Informationen, um uns als Betreiber der Seite sog.
        Insights zur Verfügung zu stellen. Bei diesen Insights handelt es sich
        um Statistiken z.B. zu wie häufig ein Posting gesehen, geteilt und
        geliked wurde, Abonnementen etc.</p>
        <p>Sobald Sie unsere X-Seite besuchen, lösen Sie die Verarbeitung ihrer
        personenbezogenen Daten durch X aus.</p>
        <p>Ergänzend dazu wird auf die Datenschutzerklärung von Facebook sowie
        deren Informationen zu Insight Daten verwiesen:</p>
        <p><a
        href="https://twitter.com/de/privacy">https://twitter.com/de/privacy</a></p>
        <p><strong>Rechtsgrundlage:</strong></p>
        <p>Art. 6 Abs. 1 lit. f DSGVO: Berechtigtes Interesse, eine zeitgemäße
        Internetpräsenz zu gewährleisten.</p>
        <p>Auf welche Rechtsgrundlage X sich beruft, können Sie unter folgendem
        Link nachlesen:</p>
        <p><a
        href="https://twitter.com/de/privacy">https://twitter.com/de/privacy</a></p>
        <p><strong>Speicherdauer:</strong></p>
        <p>Da wir kaum Einfluss auf die Datenverarbeitung durch X haben, kann
        hierzu lediglich auf die Datenschutzerklärung von X verwiesen
        werden:</p>
        <p><a
        href="https://twitter.com/de/privacy">https://twitter.com/de/privacy</a></p>
        <p><strong>Datenübermittlung an Dritte oder Drittländer</strong></p>
        <p>Bei Besuch unserer X-Seite, kann es dazu kommen, dass X Ihre
        personenbezogenen Daten an Drittländer (außerhalb der EU)
        übermittelt.</p>
        <p>Auch hierzu wird auf die Datenschutzerklärung von X verwiesen:</p>
        <p><a
        href="https://twitter.com/de/privacy">https://twitter.com/de/privacy</a></p>
        <p><strong><u>Social-Media Auftritt: Instagram</u></strong></p>
        <p><strong>Zweck:</strong></p>
        <p>Um unsere Tätigkeit der Öffentlichkeit zugänglich zu machen, greifen
        wir auf die Plattform Instgram der Facebook Ireland Ltd., 4 Grand Canal
        Square Grand Canal Harbour, Dublin 2, Ireland zurück.</p>
        <p><strong>Art/Umfang:</strong></p>
        <p>Falls Sie unsere Instagram-Seite besuchen, tun Sie dies in eigener
        Verantwortung (besonders bei der Nutzung von interaktiven Funktionen wie
        z.B. Likes, Kommentaren, Bewertungen).</p>
        <p>Mithilfe von Cookies, verarbeitet Facebook vor allem folgende
        Daten:</p>
        <ul>
        <li><p>Informationen zu Ihrem Account</p></li>
        <li><p>Ihre IP-Adress</p></li>
        <li><p>Informationen zum genutzten Endgerät</p></li>
        </ul>
        <p>Instagram nutzt diese Informationen, um uns als Betreiber der
        Instagram-Seite sog. Insights zur Verfügung zu stellen. Bei diesen
        Insights handelt es sich um Statistiken z.B. zu Anzahl Seitenbesuche,
        Alters- und Geschlechtsverteilung der Abonnementen und
        Beitragsreichweiten. Uns ist es nicht möglich aufgrund der Insights
        Rückschlüsse zu einzelnen Mitgliedern zu ziehen.</p>
        <p>Sobald Sie unsere Instagram-Seite besuchen, lösen Sie die
        Verarbeitung ihrer personenbezogenen Daten durch Instagram aus.</p>
        <p>Ergänzend dazu wird auf die Datenschutzerklärung von Instagram
        verwiesen:</p>
        <p><a
        href="https://help.instagram.com/519522125107875">https://help.instagram.com/519522125107875</a></p>
        <p><strong>Rechtsgrundlage:</strong></p>
        <p>Art. 6 Abs. 1 lit. f DSGVO: Berechtigtes Interesse, eine zeitgemäße
        Internetpräsenz zu gewährleisten.</p>
        <p>Auf welche Rechtsgrundlage Instagram sich beruft, können Sie unter
        folgendem Link nachlesen:</p>
        <p><a
        href="https://help.instagram.com/519522125107875">https://help.instagram.com/519522125107875</a></p>
        <p><strong>Speicherdauer:</strong></p>
        <p>Da wir kaum Einfluss auf die Datenverarbeitung durch Instagram haben,
        kann hierzu lediglich auf die Datenschutzerklärung von Instagram
        verwiesen werden:</p>
        <p><a
        href="https://help.instagram.com/519522125107875">https://help.instagram.com/519522125107875</a></p>
        <p><strong>Datenübermittlung an Dritte oder Drittländer</strong></p>
        <p>Bei Besuch der Instagram-Seite, kann es dazu kommen, dass Instagram
        Ihre personenbezogenen Daten an Drittländer (außerhalb der EU)
        übermittelt.</p>
        <p>Auch hierzu wird auf die Datenschutzerklärung von Instagram
        verwiesen:</p>
        <p><a
        href="https://help.instagram.com/519522125107875">https://help.instagram.com/519522125107875</a></p>
        <p><strong>Hinweis:</strong></p>
        <p>In Bezug auf die Bereitstellung von Insights, sind Meta und wir laut
        Datenschutzrecht gemeinsam verantwortlich. Dementsprechend wurde eine
        Vereinbarung mit Meta abgeschlossen, die diese gemeinsame
        Verantwortlichkeit regelt. Die Vereinbarung kann hier aufgerufen werden:
        <a
        href="https://www.facebook.com/legal/terms/page_controller_addendum">https://www.facebook.com/legal/terms/page_controller_addendum</a></p>
        <p><strong><u>Betroffenenrechte</u></strong></p>
        <p>Die DSGVO räumt Ihnen als betroffenen Person bestimmte Rechte ein,
        die Ihre informationelle Selbstbestimmung wahren sollen.</p>
        <p><strong>Ihnen stehen folgende Rechte zu:</strong></p>
        <ul>
        <li><p>Auskunftsrecht gemäß Art. 15 DSGVO</p></li>
        <li><p>Recht auf Berichtigung Ihrer Daten gemäß Art. 16 DSGVO</p></li>
        <li><p>Recht auf Löschung Ihrer Daten gemäß Art. 17 DSGVO</p></li>
        <li><p>Recht auf Einschränkung der Verarbeitung Ihrer Daten gemäß Art.
        18 DSGVO</p></li>
        <li><p>Recht auf Datenübertragbarkeit gemäß Art. 20 DSGVO</p></li>
        <li><p>Widerspruchsrecht gemäß Art. 22 DSGVO</p></li>
        <li><p>Eine detaillierte Beschreibung Ihrer Rechte finden Sie
        hier.</p></li>
        </ul>
        <p>Ergänzend dazu haben Sie jederzeit das Recht Beschwerde bei der
        zuständigen Datenschutzaufsichtsbehörde einzureichen, wenn Sie der
        Ansicht sind, dass die Verarbeitung Ihrer Daten gegen geltende
        datenschutzrechtliche Vorschriften verstößt.</p>
        <p><strong>Die für uns zuständige Aufsichtsbehörde:</strong></p>
        <p>Die Landesbeauftragte für den Datenschutz Niedersachsen</p>
        <p>Prinzenstraße 5</p>
        <p>30159 Hannover</p>
        <p>Telefon: +49 511 120-4500</p>
        <p>Telefax: +49 511 120-4599<br />
        E-Mail: <a
        href="mailto:poststelle@lfd.niedersachsen.de">poststelle@lfd.niedersachsen.de</a></p>
        <p><strong>Aktualisierung der Datenschutzerklärung</strong></p>
        <p>Im Bereich Datenschutzrecht tut sich einiges. Darum werden wir diese
        Datenschutzerklärung eventuell öfter mal, unter Beachtung der geltenden
        Vorschriften, anpassen müssen. Dieses Recht behalten wir uns auch
        vor.</p>
        <p>Stand: Januar 2024</p>
        </br>
    </div>
  </Fragment>
</ContentSection>
