---
import { Icon } from "astro-icon";
import HeroImage from "~/components/hero-image.astro";
import type { FooterLink } from "~/types";

const links: Array<FooterLink> = [
  {
    url: "https://apple.co/4aTamdJ",
    description: "Listen on Apple Podcast",
    icon: "fa-brands:apple",
  },
  {
    url: "https://open.spotify.com/show/6kx2GSuzh8roD1A1jxD67V",
    description: "Listen on Spotify",
    icon: "fa-brands:spotify",
  },
  {
    url: "https://www.instagram.com/hirnschmauspodcast/",
    description: "Folge uns auf Instagram",
    icon: "fa-brands:instagram",
  },
  {
    url: "https://twitter.com/HirnschmausPod",
    description: "Folge uns auf Twitter",
    icon: "fa-brands:twitter",
  },
];
---

<footer class="relative flex h-64 items-center justify-center">
  <div class="absolute inset-0 overflow-hidden opacity-40">
    <HeroImage />
  </div>
  <ul class="relative grid grid-cols-2 gap-5 sm:grid-cols-5">
    {
      links.map((link) => (
        <li>
          <a
            class="flex h-16 w-16 items-center justify-center rounded-full border-2 border-current p-4"
            href={link.url}
          >
            <span class="sr-only">{link.description}</span>
            <Icon class="h-full" name={link.icon} />
          </a>
        </li>
      ))
    }
  </ul>
</footer>
