---
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="Impressum" id="intro">
  <Fragment slot="lead">
    <div> <br>
  
      <h1>Impressum</h1>
      <p>Angaben gemäß § 5 TMG</p>
      <p>Maurice Oettle<br> 
      Robert Bosch Str. 1<br> 
      48455 Bad Bentheim <br> 
      </p><p> <strong>Vertreten durch: </strong><br>
      Maurice Oettle<br>
      </p><p><strong>Kontakt:</strong> <br>
      E-Mail: <a href='mailto:info@hirnschmaus.de'>info@hirnschmaus.de</a></br>
      </div>
  </Fragment>
</ContentSection>
