---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="Große Forschung in kleinen Happen" id="intro">
  <Fragment slot="lead">
    Entdecke <span class="text-primary">Wissenschaft</span> aus erster Hand! Wir
    bringen dir faszinierende <span class="text-primary">Forschung</span> direkt
    von den Köpfen hinter den Erkenntnissen.
  </Fragment>
</ContentSection>
