---
import { Image } from "astro:assets";
import ContentSection from "~/components/content-section.astro";
import Logo from "src/assets/spotify/spotify-podcast-badges/SVG/spotify-podcast-badge-blk-grn-660x160.svg";
---

<ContentSection title="Jetzt Hören" id="listen">
  <Fragment slot="lead">
    Bereit, deine <span class="text-primary">Neugier</span> zu wecken? Tauche
    ein in unsere neuesten Episoden und entdecke die Welt der Wissenschaft auf
    Spotify, Apple Podcasts, Google Podcasts und mehr!
  </Fragment>
  <div class="flex space-x-4">
    <!-- Added: flex and space-x-4 classes for horizontal spacing -->
    <a
      href="https://podcasts.apple.com/us/podcast/hirnkost/id1541506732?itsct=podcast_box_badge&itscg=30200&ls=1"
      class="border-radius-13 inline-block overflow-hidden"
      style="width: 250px; height: 83px;"
    >
      <img
        src="https://tools.applemediaservices.com/api/badges/listen-on-apple-podcasts/badge/de-de?size=250x83&releaseDate=1705146120"
        alt="Listen on Apple Podcasts"
        class="border-radius-13"
        style="width: 250px; height: 83px;"
      />
    </a>
    <a
      href="https://open.spotify.com/show/6kx2GSuzh8roD1A1jxD67V"
      class="border-radius-13 inline-block overflow-hidden"
      style="width: 250px; height: 83px;"
    >
      <!-- Updated: Set the height to 70px for Spotify button -->
      <img
        src={Logo.src}
        alt="Listen on Spotify"
        class="border-radius-13 h-full w-full"
      />
    </a>
  </div>
</ContentSection>
