---
import { Image } from "astro:assets";
import Logo from "~/assets/Logo_Hirnkost_ohne Text_png.png";
import HeroImage from "~/components/hero-image.astro";
import Starfield from "~/components/starfield.astro";

const widths = [450, 800];
const sizes = "(min-width: 640px) 42vw, 67vw";
---

<section class="relative h-full bg-black">
  <Starfield />
  <div id="splash-bg-fallback" class="absolute inset-0 hidden opacity-40">
    <HeroImage />
  </div>
  <div class="relative grid h-full place-items-center sm:grid-cols-1">
    <div
      id="logo"
      class="w-2/3 max-w-3xl self-start sm:w-10/12 sm:self-auto sm:justify-self-center"
    >
      <Image
        class="h-full w-full object-cover"
        src={Logo}
        widths={widths}
        sizes={sizes}
        loading="eager"
        alt="A floating brain logo"
      />
    </div>
    <h2
      class="flex flex-col gap-2 self-start sm:gap-4 sm:self-auto sm:justify-self-center"
    >
      <div
        class="gradient-text text-center font-extrabold tracking-tighter text-8xl"
      >
        Hirnschmaus
        <br /> Podcast
      </div>
    </h2>
  </div>
</section>

<noscript>
  <style>
    #splash-bg-fallback {
      display: block;
    }
  </style>
</noscript>

<style>
  @keyframes float {
    0% {
      transform: translate3d(0, 0, 0);
    }

    100% {
      transform: translate3d(0, 30px, 0);
    }
  }

  #logo {
    animation: float linear 2.5s infinite alternate;
  }

  @media (prefers-reduced-motion: reduce) {
    #logo {
      @apply animate-none;
    }

    :global(#starfield) {
      @apply hidden;
    }

    #splash-bg-fallback {
      @apply block;
    }
  }
</style>
